@font-face {
	font-family: Quarion;
	font-display: swap;
	src: url("../fonts/Quarion-Bold.woff") format("woff"), url("../fonts/Quarion.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Quarion;
	font-display: swap;
	src: url("../fonts/Quarion-Medium.woff") format("woff"), url("../fonts/Quarion.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Quarion;
	font-display: swap;
	src: url("../fonts/Quarion-SemiBold.woff") format("woff"), url("../fonts/Quarion.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
